.logo-header {
  width: 8em;
  margin-top: 25px;
}

.header-menu {
  display: inline-flex;
  list-style-type: none;
  margin-top: 30px;
}
.header-menu-2 {
  font-size: 25px;
  margin: 0.5em;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header-menu-1 {
  font-size: 25px;
  margin: 0.5em;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  font-weight: 600;
}
.header-menu-1:hover {
  background-image: linear-gradient(
    to right,
    #c99d38 0%,
    #fcf6ab 44%,
    #b97c2b 99%,
    #b97c2b 100%
  ) !important;
  border-radius: 100px;
  color: black;
}

/* ---------------- */
.background-img {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 900px;
  background: beiges;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/29/16/12/berries-2986532_1280.jpg);
}

.mgt-hd {
  margin-top: 10px;
}
a {
  text-decoration: none;
}
.background-foodter {
  background-color: black;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.logo-foodter {
  width: 50px;
}
.dn-foodter {
  color: #b5af63;
  font-size: 25px;
}
.text-foodter {
  color: #717171;
  font-weight: bolder;
  margin: 10px;
  font-size: 14px;
}
.font-foodter {
  font-size: 25px;
  color: aliceblue;

  font-weight: bold;
}
.Featured-Posts {
  width: 100px;
  height: 60px;
  margin-right: 10px;
}
.foodter-post {
  list-style-type: none;
  display: inline-flex;
  margin-top: 30px;
  margin-left: -30px;
}
.text-Featured-Posts {
  color: #717171;
  font-weight: bolder;
  margin: 10px;
  font-size: 15px;
}
.bottom-border {
  border-bottom-style: solid;
}
.icon-foodter {
  margin-top: 20px;
  list-style-type: none;
  display: inline-flex;
}
.style-icon-foodter {
  width: 45px;
  height: 30px;
  margin-left: 50px;
}
.font-icon-text-foodter {
  color: yellowgreen;
  font-size: 23px;
}
.text-foodter-bottom {
  color: darkgray;
  margin-top: 20px;
}
.ul-text-foodter {
  list-style: none;
  margin-left: -30px;
}
.li-text-foodter {
  color: grey;
  margin-bottom: 10px;
}
